html,
body {
    min-height: 100vh;
    margin: 0;
    font-family:'Gruppo';
    /*font-family: 'Poppins', sans-serif;
    */
    /*font-family: 'Muli', sans-serif;*/
    /* font-family: 'Nunito', sans-serif;*/
    /*font-family: 'M PLUS Rounded 1c', sans-serif;*/
    font-weight: 100;
}

@font-face {
  font-family:'Glue Gun';
  src: url(../res/GlueGun-GW8Z.ttf);
}
@font-face {
  font-family:'Blockletter';
  src: url(../res/Blockletter.otf);
}


html {
  background: #090000;
  font-size: calc(1em + 3vmax);
  line-height: 1.1;
  text-align: center;
}

body {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.tinted-image {
   /* background-image: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) ), url("../images/aerial-view.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

.scoreboard{
    height:80vh;
    width:100vw;
}

x-sign {
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1)
  will-change: filter, color;
  filter: saturate(60%);
  color: #fff;
  font-family: 'Blockletter';
  font-weight:bold;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  padding: 10px;
  font-size: 1.5em;
  letter-spacing:.05em;
  text-align:left;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 68px;  
  overflow: hidden;
}

.scoreboardTable{
	color:#fff;
	font-size: 30px;
    width: 100%;
    border-collapse: separate;
 	border-spacing:0 4px;  
}

.scoreboardTable tr{
    cursor:pointer; 
}

.scoreboardTable tr:hover {
   border:2px solid white; 
 }

.scoreboardTable tr:hover td {
   padding-top: 25px;
   padding-bottom: 25px;
   color: yellow;
   font-family: 'Poppins', sans-serif
  }

.statsInfo tr:hover td {
    padding-top: 25px;
    padding-bottom: 25px;
    color: yellow;
    font-family: 'Poppins', sans-serif
}

.scoreboardTable th{
	font-size:35px;
	background-color:#424949;
	padding:10px;
}

.scoreboardTable td{
	padding:10px;
}

.scoreboardTable tr{
	border:5px solid transparent;
	font-weight:bold;
}

div.scoreboardBody {
    clear: both;
    overflow: auto;
    width: 100%;
}

html > body div.scoreboardBody {
    overflow: hidden;
    width: 100%;
}

thead.tableHeader tr {
    position: relative;
}

html > body tbody.scrollContent {
    display: block;
    height: 25vw;
    overflow: auto;
    width: 100%
}

html > body thead.tableHeader {
    display: table;
    overflow: auto;
    width: 100%
}

.winner {
    font-size: 40px;
}

.airforce{
	height: 1.1em;
    float: right;
}

.smallTitle{
	FONT-SIZE: .7em;
    DISPLAY: contents;
    FONT-STYLE: ITALIC;
}


.flightOptions
{
	width:100%;
}
.flightOptions th
{
 font-family: 'Blockletter';
}

.star-align{
  height:30px; 
  padding-right:10px
}

.record-focus {
    border: 2px solid #b5b5b5;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.scoreboardTable .record.even
{
	background-color:#1a315e;
	border:5px solid transparent;
}

.scoreboardTable .record.odd
{
	background-color:#000;
	border:5px solid transparent;
}

.stats-style {
    background-color: gray;
    height: 50px;
    padding-top: 12px;
    margin-top: -17px;
    border-left: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
}


.playerTotals {
    
}

.playerTotalsTable {
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.playerTotals th {
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(9,9,121,1);
    color: #fff;
    border-top: 1px solid mediumblue
}

.playerTotals td {
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(9,9,121,.60);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (min-width: 696px) {
    .stickyHeader {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 695px) {
    .stickyHeader {
        overflow-x: auto !important;
    }
}
    .stickyHeader {
        overflow-y: auto;
        height: 400px;
        font-size: .5em;
      /*  width: 90%;*/
        padding-left: 40px;
        padding-right:40px;
    }

        .stickyHeader thead th {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    .statsInfo th {
        background-color: #424949;
        color: #fff;
    }

    .statsInfo .record.even {
        background-color: #1a315e;
        border: 5px solid transparent;
        color: #fff;
    }

    .statsInfo .record.odd {
        background-color: #000;
        border: 5px solid transparent;
        color: #fff;
    }

.statsInfo
{
    padding-right:40px;
}

#playerHeader {
    position: absolute;
    right: -300px;
    animation: slide 1s forwards;
}

#eventHeader {
    position: absolute;
    right: -300px;
    animation: slide 1s forwards;
}

@keyframes slide {
    100% {
        left: 2%;
    }
    50%{
        right:50%;
    }
}

.chevron {
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: 1em;
    vertical-align: middle;
    color: #fff;
    font-family: 'Poppins', sans-serif;
   
}

#firstAttempt {
    background-image: url("../images/navigate-to-end.png");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    transform:rotate(180deg); 
}

#firstAttempt:hover {
        background-image: url("../images/navigate-to-end-hover.png");
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        transform: rotate(180deg);
}

#prevAttempt {
    background-image: url("../images/chevron.png");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

    #prevAttempt:hover {
        background-image: url("../images/chevron-hover.png");
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }

#nextAttempt {
    background-image: url("../images/chevron.png");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
}

    #nextAttempt:hover {
        background-image: url("../images/chevron-hover.png");
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
    }

#lastAttempt {
    background-image: url("../images/navigate-to-end.png");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
}
#lastAttempt:hover {
    background-image: url("../images/navigate-to-end-hover.png");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
}

    .topMargin{
        margin-top:20px;
    }


#selectEvent {
    color: #fff;
    font-weight: bold;
    font-size: .6em;
}

#eventDropdown{
    padding:5px;
    border-radius:5px;
}


.fullscreen-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1000;
}

.fullscreen-bg__video {
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1000;
}